
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #111;
  color: white;
}

/* Update your existing .grid-layout or ul class */
.grid-layout {
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
  /* This creates 1 column on small phones and automatically adds more on tablets/laptops */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content:center;
}

/* Individual Card Styling */
.card {
  background-color: #de9d7e;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card-content {
  padding: 0.5rem;
  
}

.watch-button {
  width: 100%;
  padding: 10px;
  background-color: #e50914; /* Netflix Red */
  color: white;
  border: solid 2px #000000;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .main-heading {
    font-size: 1.5rem; /* Make the title slightly smaller for mobile */
    margin-top: 1rem;
  }

  .series-container {
    padding: 0.5rem; /* Reduce extra side space */
  }

  /* Ensure the card takes up most of the screen width but stays centered */
  .grid-layout {
    grid-template-columns: 1fr; 
    padding: 1rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
body {
  margin: 0;
  font-family: 'monospace', monospace; /* Netflix-like font */
  background-color: #f5d0d0; /* Netflix-like dark background */
  color: rgb(0, 0, 0); /* White text for contrast */
}
.rating-num
{
  background-color: #e7fd44;
  font-weight: bold;
}
.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  max-width: 80%;
  /* The "Box" style: Glassmorphism */
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 55px;
  box-shadow: 0 8px 32px 0 rgba(238, 114, 36, 0.8);
  
  
}